<div class="container background-indigo">
  <div class="row py-3 justify-content-center">
    <div class="col-6 text-white text-center">
      <h3>Operations on two numbers</h3>
    </div>
  </div>
  <div class="row py-3 justify-content-center">
    <div class="col-6">
      <form [formGroup]="calculatorForm">
        <div class="row">
          <div class="col">
            <input type="text" id="argumentX" formControlName="argumentX" class="form-control font-size-48 backround-plum border-plum" placeholder="0">
          </div>
          <div class="col font-size-48">
            <input type="text" id="argumentY" formControlName="argumentY" class="form-control font-size-48 backround-plum border-plum" placeholder="0">
          </div>
          <div class="col-12 py-2 text-white text-center">
            <p>
              {{ errorMessage }}
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row py-3 justify-content-center">
    <div class="col-6">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-block btn-calculator" (click)="add()">Add</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-block btn-calculator" (click)="subtract()">Sub</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-block btn-calculator" (click)="multiply()">Multiply</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-block btn-calculator" (click)="divide()">Divide</button>
        </div>
      </div>
      <div class="row py-2">
        <div class="col">
          <button type="button" class="btn btn-block btn-danger" (click)="reset()">Reset</button>
        </div>
    </div>
    <div class="row py-4 justify-content-center">
      <div class="col text-white text-center font-size-48">
        <p>
          {{ outcome }}
        </p>
      </div>
  </div>
  </div>
</div>