.background-indigo {
  background-color: darkslateblue;
}

.font-size-48 {
  font-size: 48px !important;
}

.backround-plum {
  background: plum !important;
}

.border-plum {
  border: plum !important;
}

.btn-calculator {
  color: #fff !important;
  background-color: blueviolet !important;
  border-color: blueviolet !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
